
text-clean/Alice Perrin__Romance__Star of India.txt
text-clean/Amanda McKittrick Ros__None__Irene Iddesleigh.txt
text-clean/Annie French Hector__Romance__Kate Vernon Volume 1.txt
text-clean/Annie French Hector__Romance__Kate Vernon Volume 2.txt
text-clean/C. A. Dawson Scott__Romance__Wastralls.txt
text-clean/Charles Garvice__Romance__Only a Girl's Love.txt
text-clean/Edgar Allan Poe__None__Volume 1.txt
text-clean/Edgar Allan Poe__None__Volume 2.txt
text-clean/Edgar Allan Poe__None__Volume 3.txt
text-clean/Edgar Allan Poe__None__Volume 4.txt
text-clean/Edgar Allan Poe__None__Volume 5.txt
text-clean/F. Anstey__Comedy__A Bayard From Bengal - Copy.txt
text-clean/F. Anstey__Comedy__Baboo Jabberjee, B.A..txt
text-clean/F. Anstey__Comedy__In Brief Authority.txt
text-clean/F. Anstey__Comedy__The Brass Bottle.txt
text-clean/F. Anstey__Comedy__The Talking Horse, and Other Tales.txt
text-clean/F. Anstey__Comedy__The Tinted Venus, A Farcical Romance.txt
text-clean/F. Anstey__Comedy__Vice Versa, or, A Lesson to Fathers.txt
text-clean/J. R. R. Tolkien__Fantasy__The Fellowship of the Ring.txt
text-clean/J. R. R. Tolkien__Fantasy__The Hobbit.txt
text-clean/J. R. R. Tolkien__Fantasy__The Return of the King.txt
text-clean/J. R. R. Tolkien__Fantasy__The Silmarillion.txt
text-clean/J. R. R. Tolkien__Fantasy__Two Towers.txt
text-clean/James Joyce__None__Ulysses.txt
text-clean/William Shakespeare__Play__Complete Works.txt
text-reserve/Alice Perrin__Romance__Star of India.htm
text-reserve/Amanda McKittrick Ros__None__Irene Iddesleigh.html
text-reserve/Annie French Hector__Romance__Kate Vernon Volume 1.htm
text-reserve/Annie French Hector__Romance__Kate Vernon Volume 2.htm
text-reserve/C. A. Dawson Scott__Romance__Wastralls.html
text-reserve/Charles Garvice__Romance__Only a Girl's Love.htm
text-reserve/F. Anstey__Comedy__A Bayard From Bengal - Copy.htm
text-reserve/F. Anstey__Comedy__Baboo Jabberjee, B.A..htm
text-reserve/F. Anstey__Comedy__In Brief Authority.htm
text-reserve/F. Anstey__Comedy__The Brass Bottle.htm
text-reserve/F. Anstey__Comedy__The Talking Horse, and Other Tales.htm
text-reserve/F. Anstey__Comedy__The Tinted Venus, A Farcical Romance.htm
text-reserve/F. Anstey__Comedy__Vice Versa, or, A Lesson to Fathers.htm
text-reserve/J. R. R. Tolkien__Fantasy__The Fellowship of the Ring.html
text-reserve/J. R. R. Tolkien__Fantasy__The Hobbit.html
text-reserve/J. R. R. Tolkien__Fantasy__The Return of the King.html
text-reserve/J. R. R. Tolkien__Fantasy__The Silmarillion.html
text-reserve/J. R. R. Tolkien__Fantasy__Two Towers.html
text-reserve/James Joyce__None__Ulysses.htm
text-reserve/William Shakespeare__Play__Complete Works.htm
text/Edgar Allan Poe__None__Volume 1.htm
text/Edgar Allan Poe__None__Volume 2.htm
text/Edgar Allan Poe__None__Volume 3.htm
text/Edgar Allan Poe__None__Volume 4.htm
text/Edgar Allan Poe__None__Volume 5.htm
data/html symbol list.csv
data/html symbol list short.csv
data/Charles Garvice__Romance__Only a Girl's Love.htm
data/categories.txt
data/C. A. Dawson Scott__Romance__Wastralls.html
data/Annie French Hector__Romance__Kate Vernon Volume 2.htm
data/Annie French Hector__Romance__Kate Vernon Volume 1.htm
data/Alice Perrin__Romance__Star of India.htm
clean_text_log.txt
